/* about.css */

.section {
  padding: 6rem 0 2rem;
  color: #333; /* Dark text color for readability */
}

.about {
  background-color: #ffffff; /* White background */
}

.about__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: 1.5rem;
}

.about__description {
  font-size: var(--normal-font-size);
  color: var(--text-color);
  text-align: center;
  margin-bottom: 2rem;
}

.about__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.about__content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.about__image {
  /* Add any styling for images here */
}

/* Add responsiveness */
@media screen and (max-width: 768px) {
  .about__container {
    grid-template-columns: 1fr;
  }

  .about__content {
    text-align: center;
  }
}
